/* This whole section here is for the that "redlining info" part */
h1 {
    background-color:rgb(239, 142, 142);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    color:rgb(152, 85, 85);
}

/* I made this new class section because I want the image to continue being in the center */
.top {
  text-align: center;
}

.text_box{
text-align: center;
}
aside{
  text-align:center;
} 

p {
  font-size:18px ;
}

/* This is for all the sub titles above each text info */
h2 {
    color:rgb(152, 85, 85);
    font-size: 30px;
}


main {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;


}

ul {
   list-style-position: inside;
   font-size:18px ; 
}

/* This is all of your guyses button stuff, im sorry! just had to move it outta my way to figure out flexbox */
.idk{
 font-size: 8px;
 text-align: center;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
img {width:70%}
body {background-color: rgba(224, 127, 127, 0.493);}

